:root {
  --accent-color: #59bfd3;
  --background-color: #ecedff;
  --text-color: #0f0f0f;
  --background-color-dark: #0f0f0f;
  --text-color-dark: #ecedff;
}

* {
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}

.cover {
  background: var(--background-color);
}

#dark.cover {
  background: var(--background-color-dark);
  color: var(--text-color-dark);
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 0 2em;
  background: var(--background-color);
  color: var(--text-color);
}

#dark .container {
  background: var(--background-color-dark);
  color: var(--text-color-dark);
}

h1,
h2,
p {
  margin-top: 0;
}

.container header {
  display: flex;
  justify-content: space-between;
  background: var(--accent-color);
  color: var(--text-color);
  padding: 2em;
}

.container footer {
  background: var(--accent-color);
  color: var(--text-color);
  margin-top: 2em;
  padding: 2em;
}

.container nav {
  align-self: flex-end;
  width: 20%;
}
.container nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  /* padding-left: 1em; */
}

nav ul a {
  text-decoration: none;
  color: var(--text-color);
}

.container h2 {
  padding: 1em 0;
}

.main-content ul {
  list-style-type: square;
}
.main-content li::marker {
  font-size: 30px;
}

.toggle-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30%; */
}

.toggle-label {
  background: #fff;
  width: 3.2rem;
  height: 1.8rem;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.toggle-label::before {
  position: absolute;
  content: "";
  background: #000;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 200px;
  margin-top: 1.4px;
  transition: 0.2s;
}
.toggle-button:checked + .toggle-label {
  background: #000;
}

.toggle-button:checked + .toggle-label::before {
  transform: translateX(1.5rem);
  background: #fff;
}

.toggle-button {
  display: none;
}
