* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
}

h1,
h2,
p {
  margin-top: 0;
}

img {
  display: block;
  width: 90%;
  margin: 1em auto;
}

nav img {
  width: 140px;
  padding: 1em;
  margin: 0 auto 0 0.5em;
}

nav {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  width: 80%;
  margin: 0 auto;
}

.hero p {
  width: 40%;
}

@media (max-width: 500px) {
  .hero p {
    width: 60%;
  }
}

.cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.5em;
}

.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: flex-end;
}

.card-img {
  object-fit: cover;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: flex-start;
}

.card-stats img {
  width: 20px;
  margin: 0;
}

.card-fadded-text {
  color: gray;
}

.card-bold-text {
  font-weight: bold;
}

.card-badge {
  position: relative;
  width: 40%;
  text-align: center;
  top: 65px;
  left: 23px;
  background: white;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  font-weight: bold;
}
